spring:
  datasource:
    url: jdbc:mysql://localhost:3306/corona?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 

  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
